@model IEnumerable<ClienteApi2.ReferenciaServicioJava.medicamento>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>listarrrrrrr</title>
</head>
<body>

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.cantidad_existencia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.codigo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dosis)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.laboratorio_farmaceutico)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.medicamento1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.precio_unitario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.presentacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.vencimiento)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.cantidad_existencia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.codigo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dosis)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.laboratorio_farmaceutico)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.medicamento1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.precio_unitario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.presentacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.vencimiento)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
