@model IEnumerable<ClienteApi2.ReferenciaServicioJava.medicamento>

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Farmacia UMG</title>

    <link rel="stylesheet" href="~/Scripts/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Scripts/css/bootstrap-grid.css.map">
    <link rel="stylesheet" href="~/Scripts/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="~/Scripts/css/bootstrap-grid.min.css.map">
    <link rel="stylesheet" href="~/Scripts/css/bootstrap.css">
    <link rel="stylesheet" href="~/Scripts/css/bootstrap.css.map">
    <link rel="stylesheet" href="~/Scripts/css/bootstrap-utilities.css">
    <link rel="stylesheet" href="~/Scripts/style.css">
    <link rel="stylesheet" href="~/Scripts/lib/slick.css">


    <script src="~/Scripts/js/bootstrap.js"></script>
    <script src="~/Scripts/js/bootstrap.bundle.js"></script>
    <script src="~/Scripts/js/bootstrap.bundle.min.js.map"></script>
    <script src="~/Scripts/js/bootstrap.min.js"></script>
</head>
<body background="" class="">

    <header class="container header">
        <div class="container text-center">
            <h1 class="h1 text-center">Farmacia Universidad Mariano Galvez de Guatemala</h1>
        </div>

        <div class="container">
            <img src="~/Scripts/images/umg.png" alt="logo_umg" width="300" height="300" class="float-start">

            <img src="~/Scripts/images/umg3.jpg" alt="farmacia" width="300" height="300" class="float-end">
        </div>
    </header>


    <nav class=" container nav">
        <ul class="nav list-inline">
            <li class="list-inline-item nav-item"> <a href="Index.cshtml" class="nav-link">@Html.ActionLink("Index", "Index", new { /* id=item.PrimaryKey */ })</a> </li>
            <li class="list-inline-item nav-item"> <a href="sesiones.html" class="nav-link"> @Html.ActionLink("Administracion", "Sesiones")</a> </li>
            <li class="list-inline-item nav-item"> <a href="Productos.cshtml" class="nav-link">@Html.ActionLink("Productos", "Productos", new { /* id=item.PrimaryKey */ })</a></li>
            <li class="list-inline-item nav-item"> <a href="carrito.html" class="nav-link">Carrito de compras</a> </li>
        </ul>
    </nav>

    <table class="table table-striped table-light container">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.codigo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.medicamento1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dosis)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.precio_unitario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cantidad_existencia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.laboratorio_farmaceutico)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.vencimiento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.presentacion)
            </th>
            <th>
                Imagen
            </th>
            <th>
                Acciones
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.codigo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.medicamento1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.dosis)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.precio_unitario)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.cantidad_existencia)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.laboratorio_farmaceutico)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.vencimiento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.presentacion)
                </td>
                <td>
                    <img src="~/Scripts/images/med.png" alt="fotografia_medicamento" width="50" height="50">
                </td>
                <td>
                    <button class="btn btn-light btn-outline-dark"> <a href=""> @Html.ActionLink("Detalles", "DetalleMedicamentos", new { id = item.codigo/* id=item.PrimaryKey */ })</a></button>
                </td>
            </tr>
        }

    </table>
</body>
</html>
